/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: gainsboro;
}

nav {
    background-color: orange;
    margin: 10px;
    border-radius: 3px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: orange;
    font-family: 'Edu VIC WA NT Beginner';
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: orange;

}

.intro {
    padding: 10px;
    display: block;
    margin: auto;
}

.intro-section {
    width: auto;
    padding: 5%;
    text-align: center;
}

.img1 {
    width: auto;
    margin: auto;
}

h2,
h1 {
    font-size: larger;
    font-weight: bold;
    margin: 30px;
}

.skills {
    background-color: orange;
    width: auto;
    margin: 10px 5px;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
}

h4 {
    padding: 10px;
    font-weight: bold;
}

address {
    margin: 10px;
}

.bar {
    background-color: grey;
    border-radius: 2px;
    height: 3px;
}

@media only screen and (min-width: 320px) {

    header {
        width: auto;
        margin: 10px;
    }

    .nav {
        margin: auto;
        width: 100%;
        overflow: hidden;
        margin: 10px;
    }

    ul {
        list-style: none;
        overflow: hidden;
        margin: 10px;
    }

    li {
        margin: 5px;
        background-color: white;
        text-align: center;
        padding: 10px;
        font-weight: bold;
        border-radius: 3px;
    }

    .intro {
        margin: auto;

    }

    .project1 {
        width: auto;
    }

    img.intro {
        width: 80%;
        margin-top: 15px;
        margin-bottom: 20px;

    }

    img {
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .portfolio {
        text-align: center;
        margin: 10px;
        padding-top: 30px;
        padding-bottom: 40px;
        background-color: white;
        border-radius: 3px;
    }

    .contact {
        text-align: center;
        width: auto;
        margin: auto;
        padding: 40px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        font-weight: 100;
        border-top: 3px;
        border-color: black;
        margin: 30px 15px;
    }

    address {
        display: flex;
        margin: 10px;
        color: orange;
    }

    address p {
        font-weight: bold;
    }

    .skills {
        margin: 10px;
    }

    .skills p {
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
    }
}

@media only screen and (min-width: 768px) {
    .intro-section {
        display: flex;
        flex-direction: row-reverse;
    }

    .intro-section p {
        padding-top: 50px;
        flex-wrap: wrap;

    }

    img.intro {
        margin: 0;
        width: 100%;
    }

    nav {
        margin: auto;
        background-color: white;
        width: fit-content;
        padding: 0px;
    }

    nav ul {
        display: flex;
        margin: 0px;
    }

    nav li a {
        list-style-type: none;
        font-weight: bold;
        overflow: hidden;
        color: black;
        text-decoration: none;

    }


    .container {
        columns: 2;
    }

    .portfolio {
        background-color: white;
    }

    .item {
        flex: 1 1 0px;
    }

    img {
        margin-top: 50px;
    }

    .skills h2 {
        width: 100%;
        margin: auto;
        padding: 10px;
    }

    .skills {
        margin: 10px;
    }

    .contact {
        width: 60%;
        text-align: center;
        margin: auto;
    }


    address {
        margin: 10px;
        display: inline;
        padding: 10px;
    }

    address p {
        padding: 10px;
    }

    footer {
        width: 100%;
        font-weight: 100;
        font-weight: 100;
        margin: 30px 15px;
    }



}

@media only screen and (min-width: 1024px) {

    h1 {
        flex-direction: row;
    }

    .nav {
        display: flex;
        flex-direction: flex-end;
    }

    .container {
        columns: 3;
    }

    .intro-text {
        text-align: left;
    }


}